@using System.Web.Optimization
@model FileDrop.Web.Models.ImageEditorViewModel

@{
    ViewBag.Title = Model.File.FileName;
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            File Drop Image Editor
        </h3>
    </div>

    <!-- Nav Tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#imageDetails" aria-controls="image details" role="tab" data-toggle="tab">Image</a></li>
        <li role="presentation" class="active"><a href="#colors" aria-controls="image colors" role="tab" data-toggle="tab">Colors</a></li>
        <li role="presentation"><a href="#filters" aria-controls="image filters" role="tab" data-toggle="tab">Filters</a></li>
    </ul>
    <div class="table-body tab-content">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div id="editingTools" class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="imageDetails">
                        @Html.Partial("_ImageDetails")
                    </div>

                    <div role="tabpanel" class="tab-pane active" id="colors">
                        @Html.Partial("_ColorEditor")
                    </div>

                    <div role="tabpanel" class="tab-pane" id="filters">
                        @Html.Partial("_FilterEditor")
                    </div>

                    <div class="form-group">
                        <button data-fileId="@Model.File.Id" id="save" class="btn btn-primary btn-xs" data-resourceurl="@Url.Action("SaveEditedImage", "File")">Save</button>
                        <a id="download" class="btn btn-info btn-xs">Download</a>
                        <button id="reset" class="btn btn-danger btn-xs">Reset</button>
                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#beforeAfterModal">
                            Compare
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-6">
                <div id="imageEditor" class="table-body">
                    <img data-fileId="@Model.File.Id" id="editImage" src="@Model.DataUrl" class="img-responsive"/>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_BeforeAfterModal")

@section scripts
{
    @Scripts.Render("~/Bundles/camanjs")
    <script src="~/js/image-editor.js"></script>
}
